<div class="d-flex justify-content-between">
    <label class="col-3">Current Temp</label>
    <label class="col-3">High</label>
    <label class="col-3">Low</label>
</div>
<div class="d-flex justify-content-between">
  <p class="col-3"><%= forecast.current %></p>
  <p class="col-3"><%= forecast.high %></p>
  <p class="col-3"><%= forecast.low %></p>
</div>
